.video_content {
  overflow: hidden;
  
}

.icon_svg
{
  position: absolute;
}

.button
{
  cursor:pointer;
}

.video_call
{
  z-index: 1;
}

.call_control
{
  z-index: 2;
  position: fixed;
  bottom: 1rem;
}

@media (max-width: 600px) {
  .video_content {
    position: initial;
    width: 95%;
  }

  .video_main_content
  {
    display: flex;
    gap: .5rem;
    flex-direction: column;
    margin-bottom: 5rem;
  }
}
